@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {
    margin: 0;
    padding: 2em;
    font-family: 'Varela Round', sans-serif;
    background: #eeeeee;
    color: #fff;
}

* {
    box-sizing: border-box;
}

.teams-list-header {
    background: #6c70e2;
}

.top-scorer-header {
    background: #ff7043;
}

.summary-header {
    background: #3f984a;
}

.summary-places-holder {
    width: 33.33%;
}

.list-header {
    font-size: 1.2em;
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.summary-card {
    margin-top: 5px;
    height: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.summary-card-logo,
.summary-card-places {
    display: flex;
    justify-content: center;
}

.summary-card-header {
    height: 50px;
    padding-top: 0px;
    margin-top: 5px;
    display: inline-block;
    color: black;
}

.player-image {
    width: 30%;
}

.team-logo {
    width: 70%;
    border: 1px solid #e3e3e3;
    padding: 5px;
}

.select-wrapper {
    margin-top: 5px;
}

.select-player {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}

/* TEAM SELECT */

ul {
    background: #394264;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    border-radius: 2px;
    height: 466px;
    overflow-x: auto;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    height: 487px;
}

li {
    width: 100%;
    padding: 12px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid black;
    font-size: 16px;
}

li .fa {
    font-size: 22px;
}

li input {
    vertical-align: middle;
    display: none;
}

li input+label {
    display: inline-block;
    background: #ccc;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: center;
    color: transparent;
    cursor: pointer;
    transition: all .2s;
}

li:hover {
    background: #50597b;
}

li input:checked+label {
    background: white;
    color: #03a9f4;
    z-index: 1;
}

/*  GRID COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    padding: 1em 0;
    text-align: center;
}

.col:first-child {
    margin-left: 0;
}

/* all browsers except IE6 and lower */

.span_1_of_3 {
    width: 32.26%;
}

/*  GO FULL WIDTH AT LESS THAN 1024 PIXELS */

@media only screen and (max-width: 1024px) {
    ul {
        width: 100%;
        height: 355px;
    }
    li {
        text-align: left;
    }
}

@media only screen and (max-width: 760px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    /* GRID OF THREE */
    .span_1_of_3 {
        width: 100%;
    }
}